[submodule "JUCE"]
	path = /Libs/JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop    

[submodule "googletest"]
	path = /Libs/googletest
	url = https://github.com/google/googletest/
	branch = develop