JX11.jucer
Builds/*
# CMake and Ninja is sometimes set up to use 'build' by default
build
Build
.vscode
.cache

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefil
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/.DS_Store