[submodule "Libs/googletest"]
	path = Libs/googletest
	url = https://github.com/google/googletest/
	branch = develop

[submodule "Libs/JUCE"]
	path = Libs/JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop

[submodule "Libs/melatonin_inspector"]
	path = Libs/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main

[submodule "Libs/foleys_gui_magic"]
	path = Libs/foleys_gui_magic
	url = https://github.com/ffAudio/foleys_gui_magic.git
    branch = main

